<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quanlysachphuongnam">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".service.XoaTheLoai"></activity>
        <activity android:name=".service.XoaSach" />
        <activity android:name=".service.XoaHoaDon" />
        <activity android:name=".DangKyActivity" />
        <activity android:name=".QuanLyHoaDonActivity" />
        <activity android:name=".GioiThieuActivity" />
        <activity android:name=".ThongkeActivity" />
        <activity android:name=".QuanLyTheLoaiActivity" />
        <activity android:name=".QuanLySachActivity" />
        <activity android:name=".QuanLyNguoiDungActivity" />
        <activity android:name=".TrangChuActivity" />
        <activity android:name=".DangNhapActivity" />
        <activity android:name=".ChaoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>